#clean the screen

. os.u

printf "\033c"
MYANDDEVICE=wisenDevice

if [ $myscript_os == "cygwin" ];then
	mount |grep "cygdrive"| sed 's/://g'|awk '{print tolower($1),$3}' > .tmp.cygwin_drives
	while read index links
	do
		if [ ! -L /${index} ];then
			ln -s /${index} $links > .null
		fi
	done < .tmp.cygwin_drives
	rm -rf .tmp.cygwin_drives
fi

if [ $myscript_os == "gun/linux" ];then
	#nothing to do about to create soft link
	echo
fi

if [ $myscript_os == "msys" ];then
	#nothing to do about to create soft link
	alias python='winpty python.exe'
fi

#echo $SCRIPT_ROOT
ASHELL_ROOT=$SCRIPT_ROOT/tbox/
ASHELL_VERSION=1.0.1
export ASHELL_ROOT
export ASHELL_VERSION

#eval "dircolors -b $SCRIPT_ROOT/tbox/.DIR_COLORS"
LS_COLORS=`dircolors -b $ASHELL_ROOT/.DIR_COLORS|awk -F "'" 'NR==1{print $2}'`
export LS_COLORS

alias ls='ls -F --color=auto --show-control-chars'
alias evelog='adb logcat -b events'
alias logcat='adb logcat'
alias getprop='adb shell getprop'
alias setprop='adb shell setprop'
alias dropcache='adb shell echo 3 > //proc/sys/vm/drop_caches'
alias la='ls -la'
alias ll='ls -l'
alias lla='ls -la'
alias lh='ls -lh'
alias l='lla'
alias lls='l'
alias grep='grep --color'
alias exit="date > $ASHELL_ROOT/.last_logout_time;reset;exit"
#alias vim='vim -u $ASHELL_ROOT/conf/.viminfo'
alias vi='vim -u $SCRIPT_ROOT/tbox/conf/_vimrc'
alias activate='source activate'
alias rm='rm -rf'
alias aShell='bash --rcfile ${SCRIPT_ROOT}/tbox/.myAndDevice.rc'
alias as='aShell'
alias cdroot='cd ${SCRIPT_ROOT}'
alias cls='clear'
alias pelf='python ${SCRIPT_ROOT}/py/parser/elf.parser'

alias lx="ls -l|awk '{if(NR>1) printf(\"%s\t0x%x\n\", \$0,\$5)}'"

git config --global core.editor vi

PS1='\[\033[01;33m\]\u\[\033[00m\]\[\033[01;31m\][\[\033[00m\]\[\033[04;32m\]\t\[\033[00m\]\[\033[01;31m\]]\[\033[00m\]\[\033[35;40m\] aShell \[\033[00m\]\[\033[01;30m\]\w\[\033[00m\]\n\[\033[45;37m\]$\[\033[0m\]  '

stty echo
export PATH=${PATH}:$ASHELL_ROOT/tools/
PYTHON2_PATH="/"$(echo $PYTHON2|sed 's/\\/\//g'|sed 's/://g')
PYTHON3_PATH="/"$(echo $PYTHON3|sed 's/\\/\//g'|sed 's/://g')
#export PATH=/e/Python35/:/e/Python35/Scripts/:${PATH}
export PATH=${PYTHON3_PATH}:${PYTHON3_PATH}/Scripts/:${PATH}
sh $ASHELL_ROOT/tools/login
date > $ASHELL_ROOT/.last_login_time
trap "date > $ASHELL_ROOT/.last_logout_time;exit" 9 15

#if [ ! -f $ASHELL_ROOT/.users ];then
#	touch $ASHELL_ROOT/.users
#	echo 0 > $ASHELL_ROOT/.users
#fi
#user_cnt=`cat $ASHELL_ROOT/.users|awk 'NR==1{print $1;}'`
#user_cnt=$(($user_cnt+1))
#echo $user_cnt > $ASHELL_ROOT/.users
#USER=user${user_cnt}

#USERHOME=$ASHELL_ROOT/home/${USER}
#if [ ! -f ${USERHOME} ];then
#	mkdir -p ${USERHOME}
#fi
#export HOME=${USERHOME}

#####start define complete#########
for tabfile in `find -L $ASHELL_ROOT/conf/ -name *tab*`
do
	. $tabfile
done
#####end complete#########

export HOME=$ASHELL_ROOT/home/
cd $HOME

